<div>
    [<a title="Download slides (pdf)" href="
    {% if include.lecture.slides contains '://' %}
      {{ include.lecture.slides }} 
    {% else %}
      {{ include.lecture.slides | prepend: site.baseurl }} 
    {% endif %}">slides</a>]
    {% if include.lecture.video %}
    [<a title="Download video (mp4)" href="
    {% if include.lecture.video contains '://' %}
      {{ include.lecture.video }} 
    {% else %}
      {{ include.lecture.video | prepend: site.baseurl }} 
    {% endif %}">video</a>]
    {% endif %}
    {% if include.lecture.codes %}
    [<a title="Download codes (zip)" href="
    {% if include.lecture.codes contains '://' %}
      {{ include.lecture.codes }} 
    {% else %}
      {{ include.lecture.codes | prepend: site.baseurl }} 
    {% endif %}">codes</a>]
    {% endif %}
    {% if include.lecture.data %}
    [<a title="Download data (zip)" href="
    {% if include.lecture.data contains '://' %}
      {{ include.lecture.data }} 
    {% else %}
      {{ include.lecture.data | prepend: site.baseurl }} 
    {% endif %}">data</a>]
    {% endif %}
</div>
